{% extends "base.html.twig" %}

{% block body %}
<a class="btn btn-primary mt-2" href="{{path('voiture_new')}}">Ajuter une voiture</a>


	<table class="table">
		<thead>
			<tr>
				<th>Marque</th>
				<th>Modèle</th>
				<th>Description</th>
				<th>Prix</th>
				<th>Editer</th>
				<th>supprimer</th>
			</tr>
		</thead>
		<tbody>
			{% for voiture in voitures %}
				<tr>
					<td>{{ voiture.marque }}</td>
					<td>{{ voiture.modele|raw }}</td>
					<td>{{ voiture.description }}</td>
					<td>{{ voiture.prix }}€</td>
					<td>
					<a href="{{path('voiture_edit', {id: voiture.id}) }}" class="btn btn-info">Editer</a>
					</td>
					<td>
					<a onclick="return confirm('voulez-vous supprimer cet article ?')" href="{{path('voiture_delete', {id: voiture.id}) }}" class="btn btn-info">supprimer</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
